<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/lododt"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lododt"
        android:supportsRtl="true"
        android:theme="@style/Theme.Conversor"
        tools:targetApi="31">
        <activity
            android:name=".temp"
            android:exported="false" />
        <activity
            android:name=".conmdinfo"
            android:exported="false" />
        <activity
            android:name=".conpesos"
            android:exported="false" />
        <activity
            android:name=".moedas2"
            android:exported="false" />
        <activity
            android:name=".condist"
            android:exported="false" />
        <activity
            android:name=".MostraConversor"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>